:root {
  --blue: #1e90ff;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: row;
  background-image: url("background.jpg");

}


.container {
  max-width: 400;
  display: flex;
  min-height: 93vh;
  flex-direction: column;
  align-items: center;

box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 3px );
-webkit-backdrop-filter: blur( 3px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}


#paste-container {
  box-sizing: border-box;
  padding: 20px;
  resize: none;
  width: 100%;
  color: white;
  height: 23rem;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  background-color: transparent;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3px );
  -webkit-backdrop-filter: blur( 3px );
  border-radius: 0px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

}
#paste-container:focus {
}
#paste-container::-webkit-scrollbar {
  width: 0.5em;
}

#paste-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#paste-container::-webkit-scrollbar-thumb {
  background-color: var(--blue);
}

.btn-container {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

button {
  background-color: transparent;
  margin: 5px;
  padding: 5px;
  width: 100px;
  color:white;
  border-radius: 10px;
}

#voice-select {
  background-color: transparent;
  margin: 5px;
  padding: 5px;
  width: 100px;
  color:white;
  border-radius: 10px;
}
select option {
  background-color: transparent;
  color: black;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3px );
  -webkit-backdrop-filter: blur( 3px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

button:hover {
  color: white;
}

.controller {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%;
  color: white;
}

.control-container {
  text-align: center;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
}
input::-webkit-slider-thumb {
  cursor: pointer; /* Cursor on hover */
}
